<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Title</title>
    <!-------- Bootstrap --------->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet" />
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-------- Bootstrap --------->

    <!-- Personal Style -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container" >
    <div class="jumbotron">
        <h1 class="title-style"> Messages </h1>

        <a href="/add"> Add a Message </a><br /><br/><br/>
        <div th:each="message : ${messages}">
            <div th:if="${message.headshot} != null">
                <img th:src="${message.headshot}" height="200"/>
            </div>
            <br/>
            <p th:inline="text"><b>Message:</b>  [[${message.content}]] </p>
            <p th:inline="text"> <b>Posted By:</b>  [[${message.sentBy}]]</p>
            <p th:inline="text"><b>Date:</b>  [[${message.postedDate}]] </p><br/>

            <a th:href="@{/update/{id}(id=${message.id})}"> Edit this Message</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{/delete/{id}(id=${message.id})}"> Delete this Message </a>
            <hr />
        </div>
    </div>
</div>

</body>
</html>